<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.PostgreSQL10Dialect
        </property>

        <property name = "connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:postgresql://127.0.0.1:5432/Auto_Sales_db
        </property>

        <property name = "hibernate.connection.username">
            postgres
        </property>

        <property name = "hibernate.connection.password">
            password
        </property>

        <!-- List of XML mapping files -->
        <mapping resource = "models/Role.hbm.xml"/>
        <mapping resource = "models/Car.hbm.xml"/>
        <mapping resource = "models/Owner.hbm.xml"/>
        <mapping resource = "models/Advertisement.hbm.xml"/>
        <mapping resource = "models/cars_parts/Engine.hbm.xml"/>
        <mapping resource = "models/cars_parts/CarBody.hbm.xml"/>
        <mapping resource = "models/cars_parts/Transmission.hbm.xml"/>

    </session-factory>
</hibernate-configuration>